/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
}

button:not([disabled]) {
  cursor:pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
/*Body*/
  --body-text-color:black;
  
/*Main*/
	--main-font-hiro: "hiro_misake", Helvetica, Arial;
	--main-text-color: #ffffff;
}


/********************/
/* ALGEMENE STYLING */
/********************/
@font-face {
	font-family: "hiro_misake";
	src: url(../assets/hiro_misake/HIROMISAKE.ttf);
}

/********************/
/* BODY STYLING     */
/********************/

body {
   /*Display*/
  min-height: 1000vh; /* minimum om te scrollen*/
  overflow-y: auto; /* Verticaal scrollen mogelijk */
  overflow-x: hidden;
  margin: 0;
 
  /*Achtergrond foto*/
  background-image: url(../images/back2.png),url(../images/back1.png); 
  background-size: 100% 100%;/* breedte en hoogte*/
  background-repeat: no-repeat;
}

body p{
   /*Text*/
  font-family: "hiro_misake",'Helvetice','Ariel';
  line-height: 25px;
}

body::before {
  /*Display*/
  width: 30%;
  height: 30%;
  position: absolute;
  content: "";
  overflow: hidden;
  margin-top: 45em;

  /*Achtergrond foto*/
  background-image: url(../images/wolk1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  /* Animation */
  animation: slideAnimation 1s ease-in-out infinite;
  animation-duration: 30s;
  animation-iteration-count:infinite;
}


@keyframes slideAnimation {
    0% {
        left: -15%; 
    }

    50% {
      left: 10%; 
  }
    100% {
        left: -15%; 
    }
}


/********************/
/* LANTERN ANIMATIE */
/********************/

.lantern {
  width: 50px; 
  height: auto;
  position: absolute;
  z-index: 10;
  transform-origin: top center; 
  animation: swing 4s infinite linear;
}

.lantern1 {
  width: 80px;
  margin-top: 119em;
  margin-left: 70px; 
  animation-delay: 0.5s; 
}

.lantern2 {
  width: 80px;
  margin-top: 216.1em;
  margin-left: 64.2em;
  animation-delay: 1s; 
}

.lantern3 {
  width: 80px;
  margin-top: 312.15em;
  margin-left: 8em; 
  animation-delay: 1.5s; 
}

.lantern4 {
  width: 80px;
  margin-top: 407.65em;
  margin-left: 9em; 
  animation-delay: 1.5s; 
}

.lantern5 {
  width: 80px;
  margin-top: 408em;
  margin-left: 61em;
  animation-delay: 1.5s; 
}

@keyframes swing {
  0%, 100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-15deg); 
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(15deg); 
  }
}


/******************/
/* HEADER STYLING */
/******************/
header{
  /*Display*/
  display:grid;
	position:relative;
	place-items:center;
}

header img:nth-of-type(1){
  /*Display*/
  width: 40%; 
  height: auto; 
  display: block; 
  padding-top: 2em;
}

header img:nth-of-type(2){
  /*Display*/
  width: 45%; 
  height: auto; 
  margin-top: 1em;
  margin-left: -40em;
}

header p {
   /*Display*/
  position: absolute;
  margin-top: 13em;
  margin-left: 8em;
  margin-right: 47em;
  z-index: 10;

  /*Text*/
  font-size: 1em;
}

header img:nth-of-type(3){
  /*Display*/
  width: 30%; 
  height: auto; 
  display: block; 
  position: absolute;
  margin-top: 10em;
  margin-left: 40em;

  /*Animation*/
	animation-name: slide;
	animation-duration: 5s;
	animation-iteration-count:1;
}

  @keyframes slide {
    0% {
      transform:translateX(30rem);
    }
    
    100% {
      transform:translateX(0);
    }
}
 



/****************/
/* MAIN STYLING */
/****************/

main section {
  /*Display*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top:90em;
}

main section:not(:first-child) {
  /*Display*/
  margin-top: 10em; 
}

main section:nth-of-type(3),
main section:nth-of-type(5) {
  /*Display*/
  margin-top: 40em; 
}


/**********************************8******/
/* Section 1 - Afbeelding, tekst en knop */
/*****************************************/
main section:nth-of-type(1) img:nth-of-type(1) {
  /*Display*/
  width: 80%;
  margin-left: 14em;
}

main section:nth-of-type(1) img:nth-of-type(2) {
  /*Display*/
  width: 60%;
  margin-left: 4em;
}

main section:nth-of-type(1) p {
  /*Display*/
  font-size: 0.9em;
  position: absolute;
  padding-top: 4em;
  padding-left: 19.5em;
  padding-right: 42.5em;
}

/*****************************************/
/* Section 2 - Afbeelding, tekst en knop */
/*****************************************/
main section:nth-of-type(2) img:nth-of-type(1) {
  /*Display*/
  width: 55%;
  margin-left: 11em;
}

main section:nth-of-type(2) img:nth-of-type(2) {
  /*Display*/
  width: 80%;
  margin-left: -6em;
}

main section:nth-of-type(2) p {
  /*Display*/
  font-size: 1em;
  position: absolute;
  padding-top: 3em;
  padding-left: 39.5em;
  padding-right: 17.5em;
}

/*****************************************/
/* Section 3 - Afbeelding, tekst en knop */
/************************************8****/
main section:nth-of-type(3) img:nth-of-type(1) {
  /*Display*/
  width: 80%;
  margin-left: 14em;
}

main section:nth-of-type(3) img:nth-of-type(2) {
  /*Display*/
  width: 65%;
  margin-left: 1em;
}

main section:nth-of-type(3) p {
  /*Display*/
  font-size: 1em;
  position: absolute;
  padding-top: 2.5em;
  padding-left: 20em;
  padding-right: 39em;
}

/*****************************************/
/* Section 4 - Afbeelding, tekst en knop */
/*****************************************/
main section:nth-of-type(4) img:nth-of-type(1) {
  /*Display*/
  width: 55%;
  margin-left: 12em; 
}

main section:nth-of-type(4) img:nth-of-type(2) {
  /*Display*/
  width: 80%;
  margin-left: -7em; 
}

main section:nth-of-type(4) p {
  /*Display*/
  font-size: 1em;
  position: absolute;
  padding-top: 3.5em;
  padding-left: 38.5em;
  padding-right: 17.5em;
}

/*****************************************/
/* Section 5 - Afbeelding, tekst en knop */
/*****************************************/
main section:nth-of-type(5) img:nth-of-type(1) {
  /*Display*/
  width: 80%;
  margin-left: 14em;
}

main section:nth-of-type(5) img:nth-of-type(2) {
  /*Display*/
  width: 50%;
  padding-top: 2em;
  margin-left: 4em;
}

main section:nth-of-type(5) p {
  /*Display*/
  font-size: 1em;
  position: absolute;
  padding-top: 3.5em;
  padding-left: 17.5em;
  padding-right: 38.5em;
}

/*****************************************/
/* Section 6 - Afbeelding, tekst en knop */
/*****************************************/
main section:nth-of-type(6) img:nth-of-type(1) {
  /*Display*/
  width: 55%;
  margin-left: 13em;
}

main section:nth-of-type(6) img:nth-of-type(2) {
  /*Display*/
  width: 75%;
  margin-left: -7em;
 }

main section:nth-of-type(6) p {
  /*Display*/
  font-size: 1em;
  position: absolute;
  padding-top: 2.3em;
  padding-left: 39em;
  padding-right: 19.5em;
}

/******************/
/* FOOTER STYLING */
/******************/
footer{
  /*Display*/
  display: flex;
  margin-top: 48em;
}

/****************************************/
/* Sestion 1 - Afbeeling, tekst         */
/****************************************/
footer section:nth-of-type(1){
  /*Display*/
  margin-top: 8em;
}

footer section:nth-of-type(1) img:nth-of-type(1){
  /*Display*/
  width: 50%; 
  height: auto; 
  display: block; 
  margin-left: 20em;
  margin-bottom: 3em;
  z-index: 10;
}

footer section:nth-of-type(1) img:nth-of-type(2){
  /*Display*/
  width: 25%; 
  height: auto; 
  display: block; 
  position: absolute;
  margin-top: -33em;
  margin-left: 25em;
  z-index: -10;
}

footer section:nth-of-type(1) p{
  /*Display*/
  position: absolute;
  margin-top: -42.5em;
  margin-left: 40em;
  margin-right: 50em;
  z-index: 10;

  /*Text*/
  font-size: 0.7em;
  color: black;
  text-shadow: none;
  line-height: normal;
}

/****************************************/
/* Sestion 2 - Afbeeling, tekst         */
/****************************************/
footer section:nth-of-type(2){
  /*Display*/
  margin-top: 8.5em;
}

footer section:nth-of-type(2) img:nth-of-type(1){
  /*Display*/
  width: 20%; 
  height: auto; 
  display: block; 
  margin: auto;
  margin-right: 20em;
  margin-bottom: 2.5em;
  z-index: 10;
}

footer section:nth-of-type(2) img:nth-of-type(2){
  /*Display*/
  width: 20%; 
  height: auto; 
  display: block; 
  position: absolute;
  margin-top: -23.5em;
  margin-left: 13em;
  z-index: -10;
}

footer section:nth-of-type(2) p{
  /*Display*/
  position: absolute;
  margin-top: -30em;
  margin-left: 21.5em;
  margin-right: 39.5em;
  z-index: 10;
 
  /*Text*/
  font-size: 0.7em;
  color: black;
  text-shadow: none;
  line-height: normal;
}

/***************/
/* MEDIA QUERY */
/***************/
/* Media Query for smaller screens */
@media (max-width: 360px) {
  body {
    background-size: contain; /* Adjust the background size for smaller screens */
  }
}

@media (max-width: 360px) {
  header img:nth-of-type(1) {
    width: 60%; /* Adjust the width for smaller screens */
    padding-top: 1em; /* Adjust the padding for smaller screens */
    padding-left: 1em;
  }
}


/*Bronnen

https://en.m.wikipedia.org/wiki/File:Kung_Fu_Panda_logo.svg
https://hero.fandom.com/wiki/Shifu
https://hero.fandom.com/wiki/Tigress
https://universal-pictures.fandom.com/wiki/Monkey
https://www.deviantart.com/jakeysamra/art/Mantis-Kung-Fu-Panda-PNG-953395816
https://www.deviantart.com/jakeysamra/art/Viper-Kung-Fu-Panda-PNG-953395820
https://universal-pictures.fandom.com/wiki/Crane
https://www.dafont.com/hiro-misake.font
